@charset "utf-8";

*,
::before,
::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.inner {
	width: 1100px;
	height: 100%;
	margin: 0 auto;
}

/* header */
header {
	position: fixed;
	width: 100%;
	margin: 0 auto;
	z-index: 10;
}

.header-menu {
	height: 78px;
	background-color: #fff;
}

.fa-archway {
	float: left;
	color: #777;
	margin: 15px 100px;
}

.contact {
	color: #ffffff;
	background-color: #6ba7eb;
	font-size: 12px;
	padding: 12px 14px;
	margin: 15px 100px;
	float: right;
}

.contact:hover {
	color: #333;
	transition: .3s;
}

main {
	padding-top: 78px;
}

/* keyvisual */
.keyvisual {
	height: 935px;
	background-image: url(../img/image1/image1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.key-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.keyvisual h1 {
	font-size: 65px;
	font-weight: 700;
	color: #6ba7eb;
	margin-bottom: 30px;
}

.keyvisual h2 {
	font-size: 40px;
	font-weight: 700;
	color: #ffffff;
}

/* work */
.work {
	height: 100%;
	background-color: #e3f2fd;
}

.work-area {
	width: 980px;
	align-items: center;
	display: flex;
	justify-content: space-between;
	text-align: center;
	margin: 0 auto;
}

.pcimage {
	margin-top: 50px;
	width: 250px;
	margin-right: 70px;
}

.text-area {
	height: 100%;
	width: 85%;
}

.text-area h1 {
	font-size: 40px;
	letter-spacing: 10px;
	margin-top: 20px;
	margin-bottom: 35px;
}

.text-area p {
	font-size: 15px;
	line-height: 18px;
	word-break: break-all;
}

/* skill */
.skills {
	background-color: #fff;
	padding-top: 50px;
	padding-bottom: 70px;
}

.skill-area {
	display: block;
	text-align: center;
	margin: 0 auto;
}

.skill-area h1 {
	font-size: 40px;
	letter-spacing: 10px;
	margin-bottom: 45px;
	text-align: center;
}

.grid-area {
	display: inline-grid;
	justify-content: center;
	grid-template-columns: 300px 300px 300px;
	gap: 100px;
}

.grid-area img {
	opacity: 0.7;
	height: 300px;
	width: 300px;
}

.grid-area img:hover {
	opacity: 1;
	transition: .7s;
}

/* select plan */

.plan {
	height: 466px;
	background-color: #d0dfea;
}

.table-area {
	padding-top: 50px;
}

.table-area h1 {
	font-size: 40px;
	letter-spacing: 10px;
	padding-bottom: 50px;
	text-align: center;
}

.cell-table {
	width: 1100px;
	width: 100%;
	table-layout: fixed;
	text-align: center;
	font-size: 16px;
	line-height: 26px;
	border: none;
	margin-bottom: 50px;
}

.cell-table th {
	background-color: #6ba7eb;
	padding: 10px;
}

.cell-table td{
	padding: 10px;
}

th:nth-child(2) , td:nth-child(2) {
	border-left: 1px solid #fff;;
	border-right: 1px solid #fff;
}

th:last-child, td:last-child {
	border-left: 1px solid #fff;
}

tr:nth-child(odd) {
	background-color: #f9f9f9;;
}

tr:nth-child(even) {
	background-color: #e0efff;
}

/*  sns　*/
.sns-area {
	height: 100%;
	background-color: #e3f2fd;
	padding: 200px 0;
}

.sns ul {
	display: flex;
	justify-content: center;
	align-items: center;
}

.sns li {
	flex-basis: 185px;
	text-align: center;
	padding: 25px 0;
	transition: .5s;
}

.sns li:hover {
	background-color: #fff;
	transition: .5s;
}

.fa-facebook-f , .fa-dribbble , .fa-twitter , .fa-envelope {
	color: #8c8c8c;
	overflow: hidden;
	font-size: 40px;
}

/* footer */
.footer {
	height: 61px;
	background-color:	#cfd8dc;
}

.copy {
	display: block;
	float: right;
	margin-top: 20px;
	margin-bottom: 23px;
	height: 18px;
	letter-spacing: 1.5px;
}
